.big-title {
  font-family: GothamPro-Medium;
  font-weight: 300;
  font-size: 30px;
  position: relative;
  margin-bottom: 60px;

}
.small-cat {
  background: #F11035;
  font-family: GothamPro-Medium;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 25px;
  margin-bottom: 0;
}

#global-news {

  background-color: #20b8be;
}

#news {
  background-color: #17D463;
}

.abs_start {

  position: absolute;
  bottom: 0;
  width: 100%
}

.rel_start {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
}


.main-heading.__type-article .main-heading__inner {
  max-width: 650px;
}

.page {
	background: #F7F7F7;
  padding-bottom: 0;
}

.main-heading.__type-article .main-heading__bg {
  opacity: 1;
  filter: brightness(0.35);
  -webkit-filter: brightness(0.35);
}

.main-heading.__type-article .main-heading__inner {
    margin: 0 auto;
}

.editor-content {
  color: #000;
}
.blog-filters__list-item.__active .blog-filters__item {

  background-color: #d42f27;
}

.blog-filters__item {

  color: #000;
}

.articles-list__figure-img {

  -webkit-filter: none;
  filter: none;
  -webkit-filter: none;
  filter: none;
  filter: none;  
}

.articles-list__title a {
  color: #000;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.articles-list__item p {

  font-weight: 400;
  color: #000;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.articles-list__item:hover {

  background-color: #A9251F;
}

.articles-list__item-meta a{
    color: #000;
    border-bottom: solid 1px #000;
    font-weight: 400;
}

.articles-list__figure {

  -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.42);
  box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.42);
}

.editor-content a, .editor-content a:hover {

  color: #000;
  font-weight: 400;
  border-color: #000;
}

.editor-content a:hover {

  color: #d42f27;
  border-color: #d42f27;
}

.m-title.similar {

  color: #000;
}

.editor-content img {
    width: 100%;
}

a[href$="jpg"] {
  margin: 0 auto;
  border: none;
}

@media screen and (max-width: 1024px) {

  .articles-list {
    max-width: 100%;
    padding-left: 20px;
  }

  .m-title.similar {
    padding-left: 20px;
  }
}

@media screen and (max-width: 680px)
{
  .footer {
    display: none;
  }
  .subscribe-blog {
    margin-left: -10px;
      margin-right: -10px;
  }
  .rel_start {
    margin: 0 12px;
  }
  .articles-list {
    padding-left: 0;
  }
}

@media screen and (min-width: 1500px) {

  .main-heading.__type-article { 
    height: 740px;
  }
}

